.idea
.vscode
.bsp
.bloop
.metals

target
project/metals.sbt
project/project

.DS_Store

playbooks/k8s-output
playbooks/docker-output
.terraform*

video-downloader.mv.db
video-downloader.trace.db

*.log

.kpow.env