.idea
.vscode
.bsp
.bloop
.metals

target
project/metals.sbt
project/project

.DS_Store

playbooks/k8s-output
playbooks/docker-output

video-downloader.mv.db
video-downloader.trace.db

development/src/main/resources/localhost.jks