- name: Print start message
  debug:
    msg: Started building {{ app_name }}

- name: Gather git information
  import_tasks: git-info.yml

- name: Install dependencies
  import_tasks: tasks/install-dependencies.yml

- name: Create output directory
  block:
    - set_fact:
        docker_output_dir: .docker-output

    - name: Delete existing output directory
      file:
        path: "{{ docker_output_dir }}"
        state: absent

    - name: Create directory
      file:
        path: "{{ docker_output_dir }}"
        state: directory

- name: Clean and build sbt project
  shell: cd ../ && sbt clean {{ sbt_project }}/Universal/packageZipTarball

- name: Generate the Dockerfile
  template:
    src: docker/apps/{{ docker_file }}
    dest: "{{ docker_output_dir }}/Dockerfile-{{ app_name }}"
  vars:
    build_timestamp: "{{ ansible_date_time.iso8601 }}"

- name: Login to GitHub container registry
  command: docker login ghcr.io -u USERNAME -p {{ access_token }}
  vars:
    access_token: "{{ lookup('aws_ssm', '/github/packages/read-write-token', region='ap-southeast-2') }}"

- name: Build Docker image
  when: not publish
  shell: |
    docker build \
      -f {{ docker_output_dir }}/Dockerfile-{{ app_name }} \
      -t ghcr.io/ruchira088/video-downloader-{{ app_name }}:{{ git_branch }} \
      -t ghcr.io/ruchira088/video-downloader-{{ app_name }}:{{ git_branch }}-{{ git_commit }} \
      ../{{ app_name }}/target/universal/

- name: Build and publish Docker image
  when: publish
  shell: |
    docker buildx build \
      --push \
      --platform linux/arm64,linux/amd64 \
      --no-cache \
      -t ghcr.io/ruchira088/video-downloader-{{ app_name }}:{{ git_branch }} \
      -t ghcr.io/ruchira088/video-downloader-{{ app_name }}:{{ git_branch }}-{{ git_commit }} \
      -f {{ docker_output_dir }}/Dockerfile-{{ app_name }} \
      ../{{ app_name }}/target/universal/

- name: Clean up output directory
  file:
    path: "{{ docker_output_dir }}"
    state: absent

- name: Print finish message
  debug:
    msg: Completed building {{ app_name }}