- set_fact:
    config_values:
      production:
        database_url: server.internal.ruchij.com:5431/video-downloader
        database_jdbc_url: jdbc:postgresql://server.internal.ruchij.com:5431/video-downloader
        redis_hostname: server.internal.ruchij.com
        redis_port: 6380
        kafka_prefix: prod
        max_concurrent_downloads: 5
      development:
        database_url: server.internal.ruchij.com:5432/video-downloader
        database_jdbc_url: jdbc:postgresql://server.internal.ruchij.com:5432/video-downloader
        redis_hostname: server.internal.ruchij.com
        redis_port: 6379
        kafka_prefix: "{{ git_branch }}"
        max_concurrent_downloads: 3
      video_folder: /home/disk/videos
      other_video_folders: "/home/storage/videos;/home/videos"
      image_folder: /home/images
      kafka_brokers: server.internal.ruchij.com:9092
      schema_registry_url: http://server.internal.ruchij.com:8081
      spa_renderer_url: http://spa-renderer-service:8000
    secrets:
      database_user: "{{ lookup('aws_ssm', '/video-downloader/' + env + '/database/user', region='ap-southeast-2') }}"
      database_password: "{{ lookup('aws_ssm', '/video-downloader/' + env + '/database/password', region='ap-southeast-2') }}"
      redis_password: "{{ lookup('aws_ssm', '/video-downloader/' + env + '/redis/password', region='ap-southeast-2')}}"
      api_hashed_password: "{{ lookup('aws_ssm', '/video-downloader/' + env + '/api/hashed-password', region='ap-southeast-2') }}"
      aws_access_key_id: "{{ lookup('aws_ssm', '/video-downloader/shared/backup-creator/access-key-id', region='ap-southeast-2') }}"
      aws_secret_access_key: "{{ lookup('aws_ssm', '/video-downloader/shared/backup-creator/secret-access-key', region='ap-southeast-2') }}"

- set_fact:
    api:
      config_values:
        IMAGE_FOLDER: "{{ config_values.image_folder }}"
        VIDEO_FOLDER: "{{ config_values.video_folder }}"
        OTHER_VIDEO_FOLDERS: "{{ config_values.other_video_folders }}"
        DATABASE_URL: "{{ config_values[env].database_jdbc_url }}"
        REDIS_HOSTNAME: "{{ config_values[env].redis_hostname }}"
        REDIS_PORT: "{{ config_values[env].redis_port }}"
        KAFKA_BROKERS: "{{ config_values.kafka_brokers }}"
        KAFKA_PREFIX: "{{ config_values[env].kafka_prefix }}"
        SCHEMA_REGISTRY: "{{ config_values.schema_registry_url }}"
        SPA_SITE_RENDERER: "{{ config_values.spa_renderer_url }}"
        APP_HOSTNAME: "{{ hostname }}"
      secrets:
        DATABASE_USER: "{{ secrets.database_user }}"
        DATABASE_PASSWORD: "{{ secrets.database_password }}"
        REDIS_PASSWORD: "{{ secrets.redis_password }}"
    batch:
      config_values:
        IMAGE_FOLDER: "{{ config_values.image_folder }}"
        VIDEO_FOLDER: "{{ config_values.video_folder }}"
        OTHER_VIDEO_FOLDERS: "{{ config_values.other_video_folders }}"
        DATABASE_URL: "{{ config_values[env].database_jdbc_url }}"
        REDIS_HOSTNAME: "{{ config_values[env].redis_hostname }}"
        REDIS_PORT: "{{ config_values[env].redis_port }}"
        KAFKA_BROKERS: "{{ config_values.kafka_brokers }}"
        KAFKA_PREFIX: "{{ config_values[env].kafka_prefix }}"
        SCHEMA_REGISTRY: "{{ config_values.schema_registry_url }}"
        SPA_SITE_RENDERER: "{{ config_values.spa_renderer_url }}"
        MAX_CONCURRENT_DOWNLOADS: "{{ config_values[env].max_concurrent_downloads }}"
      secrets:
        DATABASE_USER: "{{ secrets.database_user }}"
        DATABASE_PASSWORD: "{{ secrets.database_password }}"
        REDIS_PASSWORD: "{{ secrets.redis_password }}"
    db_migration:
      config_values:
        DATABASE_URL: "{{ config_values[env].database_jdbc_url }}"
      secrets:
        DATABASE_USER: "{{ secrets.database_user }}"
        DATABASE_PASSWORD: "{{ secrets.database_password }}"
        HASHED_ADMIN_PASSWORD: "{{ secrets.api_hashed_password }}"
    db_backup:
      config_values:
        DATABASE_URL: "{{ config_values[env].database_url }}"
      secrets:
        DATABASE_USER: "{{ secrets.database_user }}"
        DATABASE_PASSWORD: "{{ secrets.database_password }}"
        AWS_ACCESS_KEY_ID: "{{ secrets.aws_access_key_id }}"
        AWS_SECRET_ACCESS_KEY: "{{ secrets.aws_secret_access_key }}"