- name: Gather git information
  import_tasks: tasks/git-info.yml

- name: Install dependencies
  import_tasks: tasks/install-dependencies.yml

- set_fact:
    k8s_vars:
      production:
        aws_ssm_k8s_config: /infrastructure/prod/k8s/config
        api_replicas: 2
        host_path_mappings:
          - host_path: /media/disk/video-downloader/production/videos
            pod_mount_path: /home/disk/videos
          - host_path: /media/storage/video-downloader/production/videos
            pod_mount_path: /home/storage/videos
          - host_path: /media/data/video-downloader/production/videos
            pod_mount_path: /home/videos
          - host_path: /home/ruchira/Data/video-downloader/production/images
            pod_mount_path: /home/images
      development:
        aws_ssm_k8s_config: /infrastructure/dev/k8s/config
        api_replicas: 1
        host_path_mappings:
          - host_path: /media/disk/video-downloader/development/videos
            pod_mount_path: /home/disk/videos
          - host_path: /media/storage/video-downloader/development/videos
            pod_mount_path: /home/storage/videos
          - host_path: /media/data/video-downloader/development/videos
            pod_mount_path: /home/videos
          - host_path: /home/ruchira/Data/video-downloader/development/images
            pod_mount_path: /home/images

- set_fact:
    api_replicas: "{{ k8s_vars[env].api_replicas }}"
    aws_ssm_k8s_config: "{{ k8s_vars[env].aws_ssm_k8s_config }}"
    host_path_mappings: "{{ k8s_vars[env].host_path_mappings }}"
    ghcr_credentials: "{{ lookup('aws_ssm', '/github/ghcr/docker-config', region='ap-southeast-2') }}"

- name: Set config values and secrets
  import_tasks: tasks/configs-and-secrets.yml

- name: Create output directory
  block:
    - set_fact:
        k8s_output_dir: .k8s-output

    - name: Delete existing output directory
      file:
        path: "{{ k8s_output_dir }}"
        state: absent

    - name: Create output directory
      file:
        path: "{{ k8s_output_dir }}"
        state: directory

- name: Render K8s resource files
  import_tasks: tasks/k8s-resource-files.yml

- name: Set kube_config
  block:
    - name: Set kubeconfig file location
      set_fact:
        kubeconfig: "{{ k8s_output_dir }}/kubeconfig"

    - name: Create K8s config file
      copy:
        dest: "{{ kubeconfig }}"
        content: "{{ lookup('aws_ssm', aws_ssm_k8s_config, region='ap-southeast-2') }}"

- name: Deploy K8s resources
  block:
    - name: Create Namespace
      command: "kubectl apply -f {{ k8s_output_dir }}/Namespace.yaml --kubeconfig {{ kubeconfig }}"

    - name: Create Docker registry secret
      command: "kubectl apply -f {{ k8s_output_dir }}/DockerRegistryCredentials.yaml --kubeconfig {{ kubeconfig }}"

    - name: Deploy DB backup
      block:
        - name: Create ConfigMap
          command: "kubectl apply -f {{ k8s_output_dir }}/db-backup/ConfigMap.yaml --kubeconfig {{ kubeconfig }}"

        - name: Create Secrets
          command: "kubectl apply -f {{ k8s_output_dir }}/db-backup/Secrets.yaml --kubeconfig {{ kubeconfig }}"

        - name: Deploy CronJob
          command: "kubectl apply -f {{ k8s_output_dir }}/db-backup --kubeconfig {{ kubeconfig }}"

        - name: Take DB backup snapshot
          block:
            - name: Set DB snapshot job name
              set_fact:
                snapshot_job_name: "db-backup-job-{{ git_commit }}-{{ ansible_date_time.iso8601_basic_short | lower }}"

            - name: Run DB backup job
              command: |
                kubectl create job \
                  --from=cronjob/db-backup-cron-job \
                  {{ snapshot_job_name }} \
                  --kubeconfig {{ kubeconfig }} \
                  -n {{ k8s_namespace }}

            - name: Wait for DB backup snapshot to complete
              command: |
                kubectl wait \
                  --for=condition=complete \
                  job/{{ snapshot_job_name }} \
                  --kubeconfig {{ kubeconfig }} \
                  -n {{ k8s_namespace }} \
                  --timeout=120s

    - name: Deploy DB migration
      block:
        - name: Create data ConfigMap
          command: "kubectl apply -f {{ k8s_output_dir }}/db-migration/DataConfigMap.yaml --kubeconfig {{ kubeconfig }}"

        - name: Create file ConfigMap
          command: "kubectl apply -f {{ k8s_output_dir }}/db-migration/FileConfigMap.yaml --kubeconfig {{ kubeconfig }}"

        - name: Create Secrets
          command: "kubectl apply -f {{ k8s_output_dir }}/db-migration/Secrets.yaml --kubeconfig {{ kubeconfig }}"

        - name: Deploy Job
          command: "kubectl apply -f {{ k8s_output_dir }}/db-migration --kubeconfig {{ kubeconfig }}"

        - name: Wait Job to complete
          command: |
            kubectl wait \
              --for=condition=complete \
              job/database-migration-job-{{ git_commit }} \
              --kubeconfig {{ kubeconfig }} \
              -n {{ k8s_namespace }} \
              --timeout=120s

    - name: Deploy api
      block:
        - name: Create data ConfigMap
          command: "kubectl apply -f {{ k8s_output_dir }}/api/DataConfigMap.yaml --kubeconfig {{ kubeconfig }}"

        - name: Create file ConfigMap
          command: "kubectl apply -f {{ k8s_output_dir }}/api/FileConfigMap.yaml --kubeconfig {{ kubeconfig }}"

        - name: Create Secrets
          command: "kubectl apply -f {{ k8s_output_dir }}/api/Secrets.yaml --kubeconfig {{ kubeconfig }}"

        - name: Deploy application
          command: "kubectl apply -f {{ k8s_output_dir }}/api --kubeconfig {{ kubeconfig }}"

    - name: Deploy batch
      block:
        - name: Create data ConfigMap
          command: "kubectl apply -f {{ k8s_output_dir }}/batch/DataConfigMap.yaml --kubeconfig {{ kubeconfig }}"

        - name: Create file ConfigMap
          command: "kubectl apply -f {{ k8s_output_dir }}/batch/FileConfigMap.yaml --kubeconfig {{ kubeconfig }}"

        - name: Create Secrets
          command: "kubectl apply -f {{ k8s_output_dir }}/batch/Secrets.yaml --kubeconfig {{ kubeconfig }}"

        - name: Deploy application
          command: "kubectl apply -f {{ k8s_output_dir }}/batch --kubeconfig {{ kubeconfig }}"

    - name: Wait for successful api deployment
      command: "kubectl rollout status deployment api-deployment --kubeconfig {{ kubeconfig }} -n {{ k8s_namespace }}"

    - name: Wait for successful batch deployment
      command: "kubectl rollout status deployment batch-deployment --kubeconfig {{ kubeconfig }} -n {{ k8s_namespace }}"

- name: Clean up output directory
  file:
    path: "{{ k8s_output_dir }}"
    state: absent