apiVersion: v1
kind: Secret
metadata:
  name: db-restore-secrets
  namespace: "{{ k8s_namespace }}"
type: Opaque
stringData:
{% for key, value in secrets.items() %}
  "{{ key }}": "{{ value }}"
{% endfor%}
