apiVersion: v1
kind: ConfigMap
metadata:
  name: db-backup-config-map
  namespace: "{{ k8s_namespace }}"
data:
{% for key, value in db_backup.config_values.items() %}
  "{{ key }}": "{{ value }}"
{% endfor %}