apiVersion: v1
kind: Secret
metadata:
  name: batch-secrets
  namespace: "{{ k8s_namespace }}"
type: Opaque
stringData:
{% for key, value in batch.secrets.items() %}
  "{{ key }}": "{{ value }}"
{% endfor %}