apiVersion: batch/v1
kind: Job
metadata:
  name: "database-migration-job-{{ git_commit }}"
  namespace: "{{ k8s_namespace }}"
spec:
  ttlSecondsAfterFinished: 3600
  template:
    spec:
      restartPolicy: Never
      imagePullSecrets:
        - name: docker-registry-credentials
      containers:
        - name: database-migration-container
          image: "ghcr.io/ruchira088/video-downloader-migration-application:{{ git_branch }}-{{ git_commit }}"
          envFrom:
            - configMapRef:
                name: db-migration-data-config-map
            - secretRef:
                name: db-migration-secrets
          volumeMounts:
            - mountPath: /opt/data
              name: file-config-map
      volumes:
        - name: file-config-map
          configMap:
            name: db-migration-file-config-map
