apiVersion: v1
kind: ConfigMap
metadata:
  name: api-data-config-map
  namespace: "{{ k8s_namespace }}"
data:
{% for key, value in api.config_values.items() %}
  "{{ key }}": "{{ value }}"
{% endfor %}
